# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js
/.next
/out
next-env.d.ts

# Build output
/dist
/.turbo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# dotenv environment variables
.env
.env.*
!.env.example

# Prisma
prisma/dev.db
prisma/dev.db-journal
/prisma/.cache

# OS files
.DS_Store
Thumbs.db

# IDE/Editor
.vscode/
.idea/
*.iml
.vercel
